@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Sample Web Application</h1>
    <div class="m-2">
        <a asp-controller="Order" asp-action="Index" class="btn btn-primary">
           Order List
        </a>
        <a asp-controller="Order" asp-action="Create" class="btn btn-primary">
            Create Order
        </a>
    </div>
    <div class="m-2">
        <a asp-controller="OrderItem" asp-action="Index" class="btn btn-success">
            OrderItem List
        </a>
        <a asp-controller="OrderItem" asp-action="Create" class="btn btn-success">
            Create OrderItem
        </a>
</div>
