@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Sample Web Application</h1>
    <div>
        <a asp-controller="Order" asp-action="Index" class="btn btn-primary">
           Order List
        </a>
        <a asp-controller="Order" asp-action="Create" class="btn btn-primary">
            Create Order
        </a>
    </div>
</div>
